@model IEnumerable<CentroCapacitacionEmergencias.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sNombreCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bCursoActivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sNombreCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bCursoActivo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CursoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CursoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CursoId })
        </td>
    </tr>
}

</table>
