@model IEnumerable<CentroCapacitacionEmergencias.Models.Cohorte>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Agregar nuevo Cohorte", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sNombreCohorte)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sNombreCohorte)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CohorteId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.CohorteId }) |
                @Html.ActionLink("Desactivar", "Delete", new { id = item.CohorteId })
            </td>
        </tr>
    }

</table>
